<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<link rel="stylesheet" th:href="@{/css/estilos.css}">

</head>
<body>
	<div class="container">	
			<h3 class="text-center mt-4">LISTA DE USUARIOS</h3>
			<div>
			</div>
			
			<div class="container">
				<form th:action="@{/buscarPorNombre}" method="get">
				  <div class="row">
				    <div class="col-3">
				      <label class="form-label">Buscar personal</label>
				      <input type="text" class="form-control" name="nombre" placeholder="Ingresa nombre o apellido" th:value="${nombre}">
				    </div>
				    <div class="col-2">
				      <label class="form-label">Rol</label>
					  <select class="form-control" name="rol">
						<option value="">-- Todos --</option>
						<option th:each="rol : ${roles}"
						        th:value="${rol.nombre}"
						        th:selected="${rol.nombre == rolSeleccionado}"
						        th:text="${rol.nombre}"></option>
					  </select>
				    </div>
					<div class="col-2">
					  <label class="form-label">Tpo. Doc.</label>
					  <select class="form-control" name="tipoDocumento">
					    <option value="">-- Todos --</option>
					    <option th:each="tipo : ${tiposDocumento}"
					            th:value="${tipo}"
					            th:selected="${param.tipoDocumento} == ${tipo}"
					            th:text="${tipo}"></option>
					  </select>
					</div>
					
				    <div class="col-2 d-flex align-items-end">
				      <button type="submit" class="btn btn-primary w-100">Buscar</button>
				    </div>
				    <div class="col-3 d-flex align-items-end">
				      <button type="button" class="btn btn-sistema w-100" data-toggle="modal" data-target="#modalUser" id="btn-nuevo">
				        <i class="bi bi-person-fill"></i> Registrar usuario
				      </button>
				    </div>
				  </div>
				</form>				
				
			</div>
			
			<div>
				<table class="table table-hover mt-5">
							  <thead>
							   <tr>
					                <th class="text-center">N°</th>
					                <th>Nombre</th>
					                <th>Apellido</th>
									<th>Tpo. Doc.</th>
									<th>N° Documento</th>
					                <th>Email</th>
					                <th>Rol</th>
									<th></th>
									<th></th>
					            </tr>
							  </thead>
							  <tbody>
							  <!--recuperar el atributo lista "List<Medicamento>"-->
							  <tr th:each="user:${lista}">
							      <td class="text-center" th:text="${user.id}"></td>
							      <td th:text="${user.nombre}"></td>
							      <td th:text="${user.apellido}"></td>
								  <td class="text-center" th:text="${user.tipoDocumento}"></td>
								  <td class="text-center" th:text="${user.numDocumento}"></td>
							      <td th:text="${user.email}"></td>
								  <td th:text="${user.rol.nombre}"></td>
							      <td class="text-center"><a class="btn btn-editar" data-toggle="modal" data-target="#modalUser"><i class="far fa-edit"></i></a></td>
							      <td class="text-center"><a href="#" class="btn btn-eliminar" data-id="${user.id}" data-nombre="${user.nombre} ${user.apellido}"><i class="far fa-trash-alt"></i></a></td>
							    </tr>  
								<tr th:if="${#lists.isEmpty(lista)}">
								  <td colspan="10" class="text-center text-danger">No se encontraron resultados.</td>
								</tr>
							  </tbody>
				</table>
			</div>
		
			<!-- begin #modal-dialog : MODAL USER-->
						<div class="modal fade" id="modalUser" data-backdrop="static" 
										data-keyboard="false" tabindex="-1" 
										aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-lg" >					
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Registrar usuario</h4>
											</div>
											<div class="modal-body">
												<form method="POST" id="idRegistra" 
													th:object="${user}" th:action="@{guardar}">	
													<input type="hidden" id="idId" th:field="*{id}">
													<div class="container">
														<div class="row">
																													
															<div class="form-group has-feedback col-md-6">
																	<label for="exampleInputEmail1"><b>Nombre</b></label><br>		
																	<input type="text" class="form-control" id="idNombre" 
																		placeholder="Ingresar nombre" th:field="*{nombre}">																										
															</div>															
															
															<div class="form-group has-feedback col-md-6">
																<label for="exampleInputEmail1"><b>Apellido</b></label><br>	
																<input type="text" class="form-control" id="idApellido" 
																	placeholder="Ingresar apellido" th:field="*{apellido}">	
															</div>
															
															<div class="form-group has-feedback col-md-6">
															  <label><b>Tipo de Documento</b></label><br>
															  <select class="form-control" id="idTipoDocumento" th:field="*{tipoDocumento}">
															    <option value="">-- Seleccione --</option>
															    <option th:each="tipo : ${T(com.zenta.zenta.entity.TipoDocumento).values()}"
															            th:value="${tipo}" th:text="${tipo}"></option>
															  </select>
															</div>
															
															<div class="form-group has-feedback col-md-6">
															  <label><b>Número de Documento</b></label><br>
															  <input type="text" class="form-control" id="idNumDocumento"
															         placeholder="Ingresar número" th:field="*{numDocumento}">
															</div>
															
															
															<div class="form-group has-feedback col-md-6">	
																	<label for="exampleInputEmail1"><b>Roles</b></label><br>
																    <select class="form-control" name="rol" 
																		id="idRol" th:field="*{rol.id}">
																      <option value=" ">--- Seleccione un rol ---</option>
																      <option th:each="rol:${roles}"   
																	  	th:text="${rol.nombre}"
																		th:value="${rol.id}"></option>
																    </select>
																   
															 </div>
															 												
															
															<div class="form-group has-feedback col-md-6">
																<label for="exampleInputEmail1"><b>Email</b></label><br>
																<input type="text" class="form-control" id="idEmail" 
																	placeholder="Ingresar email" th:field="*{email}">														
															</div>
															
															<div class="form-group has-feedback col-md-6 position-relative">
															    <label for="idContrasena"><b>Contraseña</b></label><br>
															    <input type="password" class="form-control" id="idContrasena" 
															           placeholder="Ingresar contraseña" th:field="*{contrasena}">
															    <i class="bi bi-eye-fill" id="togglePassword" 
															       style="position: absolute; top: 40px; right: 25px; cursor: pointer;"></i>
															</div>


															 
														</div>
													</div>								
													<div class="col-md-12 text-center mt-4"> 										
														<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i> Registrar</button>
														<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-undo-alt"></i> Cancelar</button>
													</div> 																								
												</form>
											</div>
										</div>
									</div>
					</div>
					<!-- FIN Modal USER -->				
	
	</div>
	
	
	<!-- Modal Confirmar Eliminación -->
	<div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="modalConfirmDeleteLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalConfirmDeleteLabel">Confirmar eliminación</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			¿Está seguro que desea eliminar al usuario <strong id="nombreUsuarioEliminar"></strong>?
			<input type="hidden" id="usuarioIdEliminar">
	      </div>
		  <div class="modal-footer">
		      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		      <button type="button" class="btn btn-danger" id="confirmarEliminar">Eliminar</button>
		  </div>
	    </div>
	  </div>
	</div>

	
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.0/js/bootstrapValidator.js"></script>
	<script th:src="@{/resources/datepicker/bootstrap-datepicker.js}"></script>     
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="https://kit.fontawesome.com/08aaa156fb.js" crossorigin="anonymous"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	
	<script>
		//asignar evento clic a todos los botones con clase btn-editar
		$(document).on("click", ".btn-editar", function () {
		  let id = $(this).parents("tr").find("td")[0].innerHTML;
		  $.get("buscar?id=" + id, function (response) {
		    $("#idId").val(response.id);
		    $("#idNombre").val(response.nombre);
		    $("#idApellido").val(response.apellido);
		    $("#idTipoDocumento").val(response.tipoDocumento);
		    $("#idNumDocumento").val(response.numDocumento);
		    $("#idEmail").val(response.email);
		    $("#idContrasena").val(response.contrasena);
		    $("#idRol").val(response.rol.id);
		  });
		});
	</script>	
	
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//leer atributo MENSAJE
		let msj=/*[[${MENSAJE}]]*/
		
		toastr.success(
			msj, 
			toastr.options = {
			"timeOut": "2000",
			"positionClass " : " toast-top-right ",
		});
	</script>	
	
		<script type="text/javascript">    
		    $(document).ready(function(){     
		
		        $('#idRegistra').bootstrapValidator({     
		        	feedbackIcons: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		        	 fields:{
		nombre: {
			selector:'#idNombre',
			validators: {
				notEmpty: {
					message: 'Ingrese nombre'
				}
			}
		},
		apellido: {
			selector:'#idApellido',
			validators: {
				notEmpty: {
					message: 'Ingrese apellido'
				}
			}
		},

		tipoDocumento: {
		  selector: '#idTipoDocumento',
		  validators: {
		    notEmpty: {
		      message: 'Seleccione tipo de documento'
		    }
		  }
		},
		numDocumento: {
		  selector: '#idNumDocumento',
		  validators: {
		    notEmpty: {
		      message: 'Ingrese número de documento'
		    }
		  }
		},		
		'rol.id': {
			selector:'#idRol',
			validators: {
				notEmpty: {
					message: 'Ingrese rol'
				}
			}
		},
		email: {
		    selector: '#idEmail',
		    validators: {
		        notEmpty: {
		            message: 'Ingrese email'
		        },
		        regexp: {
		            regexp: /^[a-zA-Z0-9._%+-]+@gmail\.com$/,
		            message: 'Solo se permite correo @gmail.com'
		        }
		    }
		},
		contraseña: {
			selector: '#idContraseña',
			validators: {
				notEmpty: {
					message: 'Ingrese contraseña'
				},
			}
		},

	}
		        })
				$('#usr1').on('changeDate', function(e) {	
					$('#idRegistra').data('bootstrapValidator').updateStatus('fecha', 'VALIDATED');
				})					
		    });   
		</script> 	
	
		<script>
		  document.addEventListener("DOMContentLoaded", function () {
		    const togglePassword = document.getElementById("togglePassword");
		    const passwordInput = document.getElementById("idContrasena");

		    togglePassword.addEventListener("click", function () {
		      const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
		      passwordInput.setAttribute("type", type);
		      this.classList.toggle("bi-eye");
		      this.classList.toggle("bi-eye-slash");
		    });
		  });
		</script>
		
		<script>
		  document.addEventListener("DOMContentLoaded", function () {
		    const inputNombre = document.querySelector('input[name="nombre"]');
		    const selectRol = document.querySelector('select[name="rol"]');

		    // Detectar cambios en el campo nombre
		    inputNombre.addEventListener("input", function () {
		      if (this.value.trim() === "") {
		        window.location.href = "/usuarios"; // vuelve a mostrar todos
		      }
		    });

		    // Detectar cambios en el select de rol
		    selectRol.addEventListener("change", function () {
		      if (this.value === "") {
		        window.location.href = "/usuarios"; // vuelve a mostrar todos
		      }
		    });
		  });
		</script>

		<script>
		  $(document).ready(function () {
		    $('#idNumDocumento').on('input', function () {
		      let numDocumento = $(this).val().trim();
		      if (numDocumento.length > 0) {
		        $.ajax({
		          url: '/validarDocumento',
		          method: 'GET',
		          data: { numDocumento: numDocumento },
		          success: function (existe) {
		            if (existe) {
		              toastr.error('El número de documento ya existe. Por favor, ingrese uno diferente.');
		              $('#Guardar').prop('disabled', true); // Deshabilita el botón de guardar
		              $('#idNumDocumento').addClass('is-invalid');
		            } else {
		              $('#Guardar').prop('disabled', false); // Habilita el botón
		              $('#idNumDocumento').removeClass('is-invalid');
		            }
		          }
		        });
		      } else {
		        $('#Guardar').prop('disabled', false);
		        $('#idNumDocumento').removeClass('is-invalid');
		      }
		    });
		  });
		</script>
		
		
		<script>
			$("#confirmarEliminar").click(function () {
			    const id = $("#usuarioIdEliminar").val();

			    $.ajax({
			        url: '/eliminar',
			        type: 'POST',
			        data: { id: id },
			        success: function (response) {
			            $("#modalConfirmDelete").modal("hide");
			            toastr.success("Usuario eliminado correctamente");
			            $(`a.btn-eliminar[data-id='${id}']`).closest("tr").remove();
			        },
			        error: function () {
			            toastr.error("Error al eliminar el usuario");
			        }
			    });
			});
		</script>

		<script>
			$(document).on("click", ".btn-eliminar", function(e) {
			    e.preventDefault();
			    const id = $(this).data("id");
			    const nombre = $(this).data("nombre");
			    $("#usuarioIdEliminar").val(id);
			    $("#nombreUsuarioEliminar").text(nombre);
			    $("#modalConfirmDelete").modal("show");
			});
		</script>
		
</body>
</html>